<header class="site-header">
    <div class="container">
        <nav class="navbar">
            <a href="{{ '/' | relative_url }}" class="logo">
                 <i class="fa-solid fa-leaf"></i> 
                 <i class="fas fa-truck"></i>{{ site.title }}
            </a>
            <ul class="nav-menu">
                <li><a href="{{ '/' | relative_url }}">Home</a></li>
                <li><a href="{{ '/exercises/' | relative_url }}">Exercises</a></li>
                <li><a href="{{ '/resources/' | relative_url }}">Resources</a></li>
                <li><a href="{{ '/about/' | relative_url }}">About</a></li>
            </ul>
        </nav>
    </div>
</header>
